@model PizzaHut.Models.Check
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script>
        function SendID() {
            var array = [];
            var check = document.getElementsByName("box");
            for (var Check of check) {
                if (Check.checked) {
                    document.getElementById(check.value).value = "true";
                }
            }

        }
    </script>
</head>
<body>
    @*<p>@ViewBag.UserID</p>
        <p>your pizza name is @ViewBag.pizza.Name</p>
        <img src=@ViewBag.pizza.Images style="width:200px;height:200px;">*@
    <form asp-controller="Users" asp-action="Get" method="post">
        @foreach(var item in Model.Toppings)
        {
          @Html.RadioButtonFor(m=>m.checks,@item.ID)@item.Name
        }
        <button type="submit" class="btn btn-primary" onclick="Find()">Submit</button>
    </form>
    <script>
        function Find() {
            var box = document.getElementsByName("box")
            for (var i = 0; i < box.length; i++) {
                if (box[i].checked)
                    alert(box[i].value);
            }
    }
    </script>
</body>
</html>